.item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 40px;
    gap: 10px;
    transition: all ease-in-out 0.3s;
  }
  .item:hover,
  .item:focus {
    cursor: pointer;
    box-shadow: inset 0 0 10px 20px rgba(0, 1, 1, 0);
    background-color: black;
    scale: 1.1;
    color: white;
    font-weight: bolder;
  }
  
  .avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .statusOnline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
  }
  
  .statusOffline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
  }
  
  .item.online {
    box-shadow: inset 0 0 10px 5px rgba(8, 206, 41, 0.5);
  }
  
  .item.offline {
    cursor: no-drop;
    box-shadow: inset 0 0 10px 5px rgba(248, 3, 3, 0.5);
  }